/* You can add global styles to this file, and also import other style files */

.full-height {
  height      : 90vh;
}

.page-panel {

  @extend .full-height;
  padding       : 2%;
  border        : solid;
  border-radius : 25px  ;

}

.left-panel {

  @extend .page-panel;

}

.right-panel {

  @extend .page-panel;

}



.center {
  text-align  : center;
}


