body {

  background: radial-gradient(transparent 50%,rgba(0,0,0,.3) 100%),linear-gradient(#D77A6B,#d2c09c 60%,#876d54);
  background-repeat: no-repeat;
}

.full-height {

  height : 80vh;
}

.page-panel {

  @extend .full-height;
  padding       : 2%;
  border-width  : thin;
  border-radius : 5px;
  box-shadow    : 5px 5px #36454f;

  background-color: white;
}

.page {

  margin:2%;
}

.center {

  text-align : center;
}


