<div clas="container">

  <div class="page">

    <div class="row">

      <div [ngClass]="{
        'col-md-1'  : left == 1,
        'col-md-2'  : left == 2,
        'col-md-3'  : left == 3,
        'col-md-4'  : left == 4,
        'col-md-5'  : left == 5,
        'col-md-6'  : left == 6,
        'col-md-7'  : left == 7,
        'col-md-8'  : left == 8,
        'col-md-9'  : left == 9,
        'col-md-10' : left == 10,
        'col-md-11' : left == 11
      }">

        <div class="col-md-12 page-panel">
          <ng-content select="[left]"></ng-content>
        </div>

      </div>

      <div [ngClass]="{
        'col-md-1'  : right == 1,
        'col-md-2'  : right == 2,
        'col-md-3'  : right == 3,
        'col-md-4'  : right == 4,
        'col-md-5'  : right == 5,
        'col-md-6'  : right == 6,
        'col-md-7'  : right == 7,
        'col-md-8'  : right == 8,
        'col-md-9'  : right == 9,
        'col-md-10' : right == 10,
        'col-md-11' : right == 11
      }">

        <div class="col-md-12 page-panel">
          <ng-content select="[right]"></ng-content>
        </div>

      </div>

    </div>

  </div>

</div>

