<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
        <div th:replace="email/header :: header"></div>

        <p>Dear [[${transaction.customer.firstname}]],</p>

        <p>
            Thank you for shopping at POS. The details of your transaction follow:
        </p>

        <div>
            <h3>Items</h3>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${transaction.items.empty}">
                    <td colspan="4"> No Items Available </td>
                </tr>
                <tr th:each="item : ${transaction.items}">
                    <td><span th:text="${item.product.name}">Name</span></td>
                    <td><span th:text="${item.product.description}">Description</span></td>
                    <td><span th:text="${item.product.costString}">Unit Price</span></td>
                    <td><span th:text="${item.quantity}">Quantity</span></td>
                    <td><span th:text="${item.costString}">Price</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p>Subtotal: [[${transaction.subtotalString}]]</p>
            <p>Total: [[${transaction.totalString}]]</p>
        </div>

        <div th:replace="email/footer :: footer"></div>
    </body>
</html>