<app-two-page [left]=3 [right]=9>

  <div left>

    <h4>Category</h4>

    <div>
      <hr>
      <button (click)="showCategoryForm(item)" type="button btn-lg" class=" list-group btn btn-outline-dark col-xs-12 col-sm-11" *ngFor="let item of p.content"> {{item.name}} </button>
    </div>

  </div>

  <div right>

    <h4>Products </h4>

    <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Category</button>
    <button class="btn btn-success"> Add Product </button>

    <hr>

    <div>

      <!--<li *ngFor="let item of p.content"> {{item.name}}</li>-->
      <button type="button btn-lg" (click)="showProductForm(item)" class="btn btn-dark col-xs-4 col-sm-1" data-toggle="tooltip"  *ngFor="let item of p1.content" >{{ item.name }}</button>

    </div>
  </div>
</app-two-page>


<app-modal>
  <app-category-creation-form></app-category-creation-form>
</app-modal>
